@media (min-width: 280px) and (max-width: 650px) {
	.main_title {
		min-height:300px;
		overflow:hidden;
	}
	.main_title section {
		max-width:320px;
	}
	.left_col_title,
	.right_col_title {
		max-width:none;
		width:145px;
		min-height:300px;
	}
	.allert,
	.allert a {
		font-size:18px;
		line-height:24px;
	}
}
@media (min-width: 280px) and (max-width: 380px) {
	.header_phone {
		margin-right:20px;
	}
}