@import url("reset.css");
@import url("font/stylesheet.css");

body {
	background:#fff;
	font-family: 'MuseoSansCyrl300';
	font-size:16px;
	color:#3d3b4e;
}

a {
	-webkit-transition:all .3s; 
	-moz-transition:all .3s; 
	-ms-transition:all .3s;  
	-o-transition:all .3s; 
	transition:all .3s;
	text-decoration:none;
}

a:hover,
a:active {
	text-decoration:none;
}

h2 {
	font-family: 'MuseoSansCyrl900';
	font-size:36px;
}

section {
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
}

.row_flex {
	justify-content:space-between;
	display:flex;
}

.row_flex_center {
	align-items:center;
	justify-content:space-between;
	display:flex;
}

header {
	position:relative;
	max-width:1200px;
	margin:0 auto;
	padding:30px 15px;
}

.logo {
	background:url(../images/logo.png) no-repeat;
	width:145px;
	font-family: 'MuseoSansCyrl900';
	font-size:12px;
	line-height:14px;
	color:#cd50d9;
	text-align:left;
	padding:10px 0 0 57px;
	display:inline-block;
}

.header_phone {
	width:120px;
	margin-right:65px;
}

.header_phone a {
	font-family: 'MuseoSansCyrl900';
	font-size:12px;
	line-height:13px;
	color:#3d3b4e;
	margin:3px 0;
	display:block;
}

.icon-menu {
	cursor:pointer;
	position:absolute;
	height:18px;
	top:50%;
	right:15px;
	z-index:100;
	margin-top:-9px;
}

.sw-topper {
	position:relative;
	top:0;
	width:20px;
	height:3px;
	background:#3d3b4e;
	transition:transform 0.5s, top 0.2s;
	-moz-transition:transform 0.5s, top 0.2s;
	-webkit-transition:transform 0.5s, top 0.2s;
	-o-transition:transform 0.5s, top 0.2s;
}

.sw-bottom {
	position:relative;
	width:20px;
	height:3px;
	top:3px;
	background:#3d3b4e;
	transition:transform 0.5s, top 0.2s;
	-moz-transition:transform 0.5s, top 0.2s;
	-webkit-transition:transform 0.5s, top 0.2s;
	-o-transition:transform 0.5s, top 0.2s;
	transition-delay:0.2s, 0s;
	-moz-transition-delay:0.2s, 0s;
	-webkit-transition-delay:0.2s, 0s;
	-o-transition-delay:0.2s, 0s;
}

.sw-footer {
	position:relative;
	width:20px;
	height:3px;
	top:6px;
	background:#3d3b4e;
	transition:transform 0.5s, top 0.2s;
	-moz-transition:transform 0.5s, top 0.2s;
	-webkit-transition:transform 0.5s, top 0.2s;
	-o-transition:transform 0.5s, top 0.2s;
	transition-delay:0.2s, 0s;
	-moz-transition-delay:0.2s, 0s;
	-webkit-transition-delay:0.2s, 0s;
	-o-transition-delay:0.2s, 0s;
}

.icon-menu.active .sw-topper {
	background:#3d3b4e;
	top:6px;
	transform:rotate(140deg);
	-moz-transform:rotate(140deg);
	-webkit-transform:rotate(140deg);
	-o-transform:rotate(140deg);
}

.icon-menu.active .sw-bottom {
	background:#3d3b4e;
	top:3px;
	transform:rotate(-140deg);
	-moz-transform:rotate(-140deg);
	-webkit-transform:rotate(-140deg);
	-o-transform:rotate(-140deg);
}

.icon-menu.active .sw-footer {
	top:0;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	opacity:0;
}

.main_title {
	position:relative;
	background:url(../images/bg-main-title.jpg) no-repeat center top;
	min-height:600px;
}

.main_title section {
	max-width:650px;
	text-align:center;
}

.left_col_title {
	position:relative;
	background:rgba(203,108,212,0.85);
	border-radius:300px 0 0 300px;
	-moz-border-radius:300px 0 0 300px;
	-webkit-border-radius:300px 0 0 300px;
	max-width:310px;
	width:100%;
	min-height:600px;
	padding:185px 35px 0;
}

.left_col_title:after {
	background:url(../images/after-left-col-title.png);
	width:47px;
	height:47px;
	content:'';
	position:absolute;
	top:10px;
	right:-20px;
}

.right_col_title {
	position:relative;
	background:#fec444;
	border-radius:0 300px 300px 0;
	-moz-border-radius:0 300px 300px 0;
	-webkit-border-radius:0 300px 300px 0;
	max-width:310px;
	width:100%;
	min-height:600px;
	padding:185px 35px 0;
}

.right_col_title:after {
	background:url(../images/after-right-col-title.png);
	width:47px;
	height:47px;
	content:'';
	position:absolute;
	top:10px;
	left:185px;
}

.right_col_title:before {
	background:url(../images/before-right-col-title.png);
	width:83px;
	height:83px;
	content:'';
	position:absolute;
	bottom:25px;
	left:145px;
}

.main_title p {
	font-family: 'MuseoSansCyrl900';
	font-size:36px;
	line-height:47px;
	letter-spacing:.25px;
	color:#fff;
	margin-bottom:60px;
}

.main_title a {
	position:relative;
	border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	width:205px;
	height:56px;
	font-family: 'MuseoSansCyrl700';
	font-size:14px;
	line-height:53px;
	text-align:left;
	display:inline-block;
}

.left_col_button {
	background:#ffb300;
	border-bottom:4px solid #ff9d00;
	color:#fff;
	text-indent:75px;
}

.left_col_button:before {
	background:url(../images/arrow-left-title.png) no-repeat center;
	width:15px;
	height:100%;
	content:'';
	position:absolute;
	top:0;
	left:40px;
}

.right_col_button {
	background:#fff;
	border-bottom:4px solid #ffe0a9;
	color:#3d3b4e;
	text-indent:47px;
}

.right_col_button:before {
	background:url(../images/arrow-right-title.png) no-repeat center;
	width:15px;
	height:100%;
	content:'';
	position:absolute;
	top:0;
	right:25px;
}

.who_are_we {
	background:url(../images/bg-who-are-we.jpg) no-repeat center top;
	padding:205px 0 320px;
}

.text_who_are_we {
	max-width:340px;
	width:100%;
	margin-left:80px;
}

.text_who_are_we h2 {
	margin-bottom:35px;
}

.text_who_are_we span {
	font-size:24px;
	line-height:35px;
	letter-spacing:.25px;
	margin-bottom:40px;
	display:block;
}

.text_who_are_we span strong {
	font-family: 'MuseoSansCyrl700';
	display:block;
}

.text_who_are_we p {
	max-width:313px;
	line-height:26px;
	letter-spacing:.25px;
	margin-bottom:55px;
}

.social_who_are_we {
	width:115px;
}

.social_who_are_we li {
	width:30px;
	height:28px;
}

.social_who_are_we li a {
	background:url(../images/social.png) -30px 0;
	width:30px;
	height:28px;
	display:block;
}

.social_who_are_we li:first-child a {
	background-position:0 0;
}

.social_who_are_we li:last-child a {
	background-position:-60px 0;
}

.social_who_are_we li a:hover {
	animation:bounce .5s;
}

.img_who_are_we {
	position:relative;
	max-width:583px;
	width:100%;
	margin-right:60px;
}

.who_are_we img {
	width:100%;
	height:auto;
	display:block;
}

.img_who_are_we:before {
	background:url(../images/before-img-who-are-we.png);
	width:110px;
	height:110px;
	content:'';
	position:absolute;
	bottom:-5px;
	left:315px;
}

.important_numbers {
	position:relative;
	background:url(../images/bg-important-numbers.jpg) no-repeat center top;
	background-size:cover;
	color:#fff;
	text-align:center;
	padding:0 15px;
}

.before_important_numbers {
	position:relative;
	max-width:1050px;
	margin:0 auto;
}

.before_important_numbers:before {
	background:url(../images/before-important-numbers.png);
	width:152px;
	height:152px;
	content:'';
	position:absolute;
	left:0;
	top:-45px;
}

.important_numbers h2 {
	padding:100px 0 95px;
}

.list_important_numbers {
	font-size:0;
	padding-bottom:130px;
}

.list_important_numbers li {
	width:230px;
	margin:0 15px 30px;
	vertical-align:top;
	display:inline-block;
}

.list_important_numbers strong {
	font-family: 'MuseoSansCyrl700';
	font-size:95px;
	margin-bottom:30px;
	display:block;
	opacity:0;
}

.list_important_numbers p {
	font-family: 'MuseoSansCyrl700';
	font-size:18px;
	line-height:27px;
	letter-spacing:.25px;
}

.after_important_numbers {
	position:relative;
	max-width:1345px;
	margin:0 auto;
}

.after_important_numbers:after {
	background:url(../images/before-important-numbers.png);
	width:152px;
	height:152px;
	content:'';
	position:absolute;
	right:0;
	bottom:-60px;
	z-index:1;
}

.why_all {
	background:#fffaff;
	text-align:center;
	padding:145px 15px 150px;
}

.why_all h2 {
	margin-bottom:110px;
}

.why_all_list {
	max-width:1300px;
	font-size:0;
	margin:0 auto;
}

.why_all_list li {
	max-width:350px;
	width:100%;
	margin:0 20px 100px;
	vertical-align:top;
	display:inline-block;
}

.icon_why_all {
	height:101px;
	line-height:101px;
	margin-bottom:40px;
}

.icon_why_all img {
	vertical-align:middle;
}

.why_all_list li h3 {
	max-width:255px;
	font-family: 'MuseoSansCyrl900';
	min-height:75px;
	font-size:18px;
	line-height:28px;
	margin:0 auto;
	padding-bottom:15px;
}

.why_all_list li p {
	font-size:16px;
	line-height:24px;
}

.button_why_all {
	background:#fec445;
	border-bottom:4px solid #feac2e;
	border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	max-width:290px;
	width:100%;
	height:55px;
	font-family: 'GeometriaBold';
	font-size:16px;
	line-height:55px;
	color:#fff;
	text-align:center;
	display:inline-block;
}

.choose_where {
	max-width:1070px;
	padding:150px 15px 130px;
}

.choose_where h2 {
	text-align:center;
	margin-bottom:80px;
}

.tabs {
	font-size:0;
	text-align:center;
	padding-bottom:110px;
}

.tabs li {
	border-bottom:1px solid #cb6cd4;
	font-size:23px;
	color:#cb6cd4;
	margin:0 55px 15px;
	padding-bottom:8px;
	vertical-align:top;
	display:inline-block;
	cursor:pointer;
}

.tabs li.current,
.tabs li:hover {
	border-color:#fec444;
	font-family: 'MuseoSansCyrl500';
	color:#fec444;
}

.box_choose_where {
	display:none;
}

.box_choose_where.active {
	display:block;
}

.text_choose_where {
	position:relative;
	max-width:380px;
	width:100%;
	margin-right:10px;
	padding-bottom:65px;
}

.text_choose_where h3 {
	font-family: 'MuseoSansCyrl900';
	font-size:35px;
	margin-bottom:40px;
}

.text_choose_where p {
	font-size:16px;
	line-height:24px;
	margin-bottom:35px;
}

.button_choose_where {
	position:absolute;
	background:#fec445;
	border-bottom:4px solid #feac2e;
	border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	max-width:240px;
	width:100%;
	height:50px;
	font-family: 'MuseoSansCyrl700';
	font-size:13px;
	line-height:50px;
	color:#fff;
	text-indent:30px;
	left:0;
	bottom:0;
}

.button_choose_where:after {
	background:url(../images/arrow-button-choose-where.png) no-repeat center;
	width:15px;
	height:100%;
	content:'';
	position:absolute;
	top:0;
	right:30px;
}

.wrap_slider_choose_where {
	max-width:555px;
	width:100%;
}

.item_choose_where {
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	overflow:hidden;
}

.owl-nav {
	position:absolute;
	width:100%;
	left:0;
	bottom:-80px;
}

.owl-prev,
.owl-next {
	background:url(../images/arrow-slider.png);
	width:30px;
	height:20px;
	font-size:0;
	position:absolute;
	left:0;
	bottom:0;
}

.owl-next {
	background-position:right;
	left:auto;
	right:0;
}

.reviews {
	max-width:940px;
	padding:130px 15px 120px;
}

.reviews h2 {
	text-align:center;
	margin-bottom:95px;
}

.slider_reviews {
	padding:0 50px;
}

.item_reviews_slider {
	max-width:640px;
	margin:0 auto;
}

.row_reviews {
	padding:25px 0;
}

.avatar_reviews {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:100px;
	height:100px;
	margin-right:10px;
	overflow:hidden;
}

.text_reviews {
	background:#fff;
	border:3px solid #fec445;
	border-radius:0 18px 18px 18px;
	-moz-border-radius:0 18px 18px 18px;
	-webkit-border-radius:0 18px 18px 18px;
	max-width:490px;
	width:100%;
	min-height:180px;
	padding:21px 60px 10px 35px;
}

.date_reviews {
	font-size:14px;
	margin-bottom:15px;
}

.text_reviews h3 {
	font-family: 'MuseoSansCyrl500';
	font-size:18px;
	margin-bottom:12px;
}

.text_reviews p {
	font-size:16px;
	line-height:24px;
}

.slider_reviews .owl-nav {
	top:50%;
	bottom:auto;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

.contacts {
	background:#fffaff;
	padding:85px 0;
}

.item_contacts {
	background:#cd50d9;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	max-width:415px;
	width:100%;
	min-height:490px;
	color:#fff;
	margin-right:10px;
	padding:50px 15px 15px 90px;
}

.item_contacts h3 {
	font-family: 'MuseoSansCyrl700';
	font-size:24px;
	margin-bottom:12px;
}

.item_contacts a {
	font-family: 'MuseoSansCyrl500';
	font-size:18px;
	color:#fff;
	margin:4px 0;
	display:table;
}

.phone_contacts {
	background:url(../images/phone-contacts.png) no-repeat;
	margin-bottom:60px;
	padding-left:45px;
}

.mail_contacts {
	background:url(../images/mail-contacts.png) no-repeat;
	margin-bottom:60px;
	padding-left:45px;
}

.address_contacts {
	background:url(../images/address-contacts.png) no-repeat;
	padding-left:45px;
}

.address_contacts p {
	font-family: 'MuseoSansCyrl500';
	font-size:18px;
	line-height:24px;
}

.form_contacts {
	max-width:328px;
	width:100%;
	text-align:center;
}

.form_contacts h3 {
}

.form_contacts p {
	line-height:24px;
	padding:35px 15px 38px;
}

footer {
	
}

.bounce:hover {
	animation:bounce .5s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.allert {
	width:100%;
	font-family: 'MuseoSansCyrl900';
	font-size:28px;
	line-height:40px;
	color:#fff;
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:10;
}

.allert a {
	width:auto;
	height:auto;
	font-family: 'MuseoSansCyrl900';
	font-size:28px;
	line-height:40px;
	color:#fff;
	display:inline-block;
}